<div>
  <h1>
    Personal Diary
  </h1>
  <ul>
    <div *ngFor='let entry of entries;let i = index'>
      <li appStrikethrough>
        {{entry.id}}
        {{entry.title }} due on {{entry.completeDate | date | uppercase }}
      </li>
      <button (click)='toggleDetails(i)'>Toggle Description</button>
      <app-entry-detail *ngIf='entry.showDescription' [entry]='entry' (isComplete) = 'completeEntry($event,i)'></app-entry-detail>
    </div>
  </ul>
  <p *ngIf='entries.length > 5'>You've made enough entries to satisfy the minimum</p>
</div>
