<div class="main">
  <ng-progress></ng-progress>
  <h1 class="ml-2">Personal Diary</h1>  
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div *ngFor='let entry of entries;let i = index'>
        <div class="ml-3">
          <h6 id={{i}} appStrikethrough>            
            {{entry.title }} due on {{entry.completeDate | date | uppercase }}
          </h6>
          <button (click)='goToUrl(entry.id)' class="btn btn-primary">View Details</button>
          <button class="btn btn-outline-danger" (click)='deleteEntry(i)'>Delete Entry</button>      
        </div>        
      </div>
    </div>
    <div class="col-md-6">
      <app-entry-form (addEntry)="addNewEntry($event)"></app-entry-form>
    </div>
  </div>
<p class="ml-3"*ngIf='entries.length > 5'>You've made enough entries to satisfy the minimum</p>
<div class="row ml-3 mr-3">
  <blockquote class="blockquote text-center">
    <p class="mb-0">{{quote.quote}}</p>
    <footer class="blockquote-footer"><cite>{{quote.author}}</cite></footer>
  </blockquote>
</div>
</div>
